#!/bin/bash

appImageName="rails"
appVersion="1.0"
appImage=$appImageName:$appVersion

res=`docker images | grep $appImageName | grep $appVersion`
if [ "x$res" = "x" ]; then
  docker build -t $appImage image
fi

DATA_DIR="/vagrant/data"
res=`ls $DATA_DIR`
if [ "x$res" = "x" ]; then
  docker run --name rails-init --rm -it -v $DATA_DIR:/myapp $appImage rails new /myapp/{{appName}}
fi

docker run --name rails -d -it -v $DATA_DIR:/myapp -p 3000:3000 -w /myapp/{{appName}} $appImage /rails_server.sh